/* anna */
#about {
  font: var(--subheading-and-body-font);
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--background-color);
  padding: 10px;
  margin: 0 auto;
  gap: 50px;
  max-width: 1200px;
  align-items: start;
  h2 {
    color: var(--primary-color);
    font-size: 18px;
  }
  h2:first-of-type {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  h2:last-of-type {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  p:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  p:nth-of-type(2) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  blockquote {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: var(--accent-color);
    padding: 1rem;
    border-radius: 6px;
    margin: 1.5rem 0;
    text-decoration: none;
  }

  p:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 5/6;
  }

  p:nth-of-type(4) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  p:nth-of-type(5) {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  ul {
    grid-column: 2/3;
    grid-row: 4/5;
    border: 2px solid var(--primary-hover-color);
    border-radius: 5px;
    padding: 1.5rem;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
  }
  ul li {
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 8px;
    color: var(--light-text-color);
    font-weight: 500;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: .3rem;
  }

  p:nth-of-type(6),
  p:nth-of-type(7) {
    grid-column: 2;
    grid-row: 5/6;
  }
}
