/* hyrum */

@import url('./variables.css');

article#contribute {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 15px;


    h2{
        border-left: solid;
        border-color: var(--secondary-color);
        border-width: 5px;
        
        padding: 10px;
        margin: 5px;
        color: var(--secondary-color);
        font-family: var(--bold-header-font);
        font-size: var(--bold-font-size);
    }

    p{
        font-size: var(--font-size);
        color: var(--dark-text-color);
        font-family: var(--subheading-and-body-font);
        font-size: var(--font-size);

        a{
            color: var(--secondary-color);
            text-decoration: none;
        }
        a:hover{
            color: var(--secondary-hover-color);
            text-decoration: underline;
        }
    }
}