/* hyrum */

@import url("./variables.css");

article#contribute {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 15px;

  h2 {
    border-left: solid;
    border-color: var(--secondary-color);
    border-width: 5px;

    padding: 10px;
    margin: 5px;
    color: var(--secondary-color);
    font-family: var(--bold-header-font);
    font-size: var(--bold-font-size);
  }

  p {
    font-size: var(--font-size);
    color: var(--dark-text-color);
    font-family: var(--subheading-and-body-font);
    font-size: var(--font-size);

    a {
      color: var(--secondary-color);
      text-decoration: none;
    }
    a:hover {
      color: var(--secondary-hover-color);
      text-decoration: underline;
    }
  }

  h3 {
    padding: 10px;
    margin: 5px;
    color: var(--primary-color);
    font-family: var(--bold-header-font);
    font-size: var(--bold-font-size);
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: custom-num;

    li {

      margin-bottom: 10px;
      width: 100%;
      text-align: start;

      font-size: var(--font-size);
      color: var(--dark-text-color);
      font-family: var(--subheading-and-body-font);

      &::before {
        align-self: center;
        display: block;
        /* Increment and display the counter */
        counter-increment: custom-num;
        content: counter(custom-num);

        /* Styling  for the number */
        font-size: var(--font-size);

        color: var(--secondary-color);
        margin-bottom: 5px;
      }
      
      a {
        color: var(--secondary-color);
        text-decoration: none;
      }
      a:hover {
        color: var(--secondary-hover-color);
        text-decoration: underline;
      }
    }
  }
}
