/* hyrum */

@import url("./variables.css");

article#contribute {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 15px;

  h2 {
    border-left: solid;
    border-color: var(--secondary-color);
    border-width: 5px;

    padding: 10px;
    margin: 5px;
    color: var(--secondary-color);
    font-family: var(--bold-header-font);
    font-size: var(--bold-font-size);
  }

  p {
    font-size: var(--font-size);
    color: var(--dark-text-color);
    font-family: var(--subheading-and-body-font);
    font-size: var(--font-size);

    a {
      color: var(--secondary-color);
      text-decoration: none;
    }
    a:hover {
      color: var(--secondary-hover-color);
      text-decoration: underline;
    }
  }

  h3 {
    padding: 10px;
    margin: 5px;
    color: var(--primary-color);
    font-family: var(--bold-header-font);
    font-size: var(--bold-font-size);
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: custom-num;

    li {
      margin-bottom: 10px;
      width: 100%;
      text-align: start;

      font-size: var(--font-size);
      color: var(--dark-text-color);
      font-family: var(--subheading-and-body-font);

      &::before {
        display: block;

        text-align: center;

        /* Increment and display the counter */
        counter-increment: custom-num;
        content: counter(custom-num);

        /* Styling  for the number */
        font-size: var(--font-size);
        background-color: var(--secondary-color);
        color: var(--background-color);
        padding: 5px;
        border-radius: 50%;
        margin-bottom: 5px;
      }

      a {
        color: var(--secondary-color);
        text-decoration: none;
      }
      a:hover {
        color: var(--secondary-hover-color);
        text-decoration: underline;
      }
    }
  }
  div.container {
    display: flex;
    flex-direction: column;

    a {
      padding: 20px;
      margin: 5px;
      text-align: center;

      color: var(--background-color);
      background-color: var(--secondary-color);
      text-decoration: none;
    }
    a:hover {
      color: var(--primary-color);
      background-color: var(--secondary-hover-color);
      text-decoration: underline;
    }
  }
}



@media screen and (min-width: 800px) {
  article#contribute {
    section.container {
      margin-left: 6rem;
      margin-right: 6rem;
    }

    ol {
      display: flex;
      flex-direction: row;
    }

    div.container {
      width: 100%;
      display: flex;
      background-color: var(--secondary-color);
      flex-direction: row;
      justify-content: left;
    }
  }
}
