/* hyrum */

@import url("./variables.css");

article#contribute {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 3rem;

  h2 {
    border-left: solid;
    border-color: var(--primary-color);
    border-width: 5px;

    padding-left: 5px;

    font-size: var(--font-size);
    color: var(--primary-color);
    font-family: var(--bold-header-font);
    font-size: var(--bold-font-size);
  }
}
