/* emma */
@import "variables.css";
h1 {
  font-family: var(--bold-header-font);
  font-weight: 50;
  font-size: 5rem;
  color: var(--primary-color);
}
body {
  font-family: var(--subheading-and-body-font);
  font-weight: lighter;
  margin: 0 auto;
  background-color: var(--background-color);
}
h2,
h3,
h4 {
  color: var(--secondary-color);
}
ul {
  list-style-type: none;
}
