/* Please use variables names from this file as you code! */
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    /* wintery color scheme */
    --primary-color: #025159;
    --primary-hover-color: #038C7F;
    --accent-color: #04D9B2;
    --secondary-color: #03A678;
    --secondary-hover-color: #04BF7B;

    /* text colors */
    --light-text-color: #FFF4D4;
    --dark-text-color: #20222B;

    /* background color */
    --background-color: #FFF4D4;

    /* fonts */
    --bold-header-font: "BBH Sans Bogle";
    /* USE ONLY AT THE TOP OF THE SITE, and anywhere else that you feel needs a bold title */
    --subheading-and-body-font: "Nunito";

    /* font sizes */

    /* spacing */
}