/* Please use variables names from this file as you code! */
:root {
    /* wintery color scheme */
    --primary-color: #025159;
    --primary-hover-color: #038C7F;
    --accent-color: #04D9B2;
    --secondary-color: #03A678;
    --secondary-hover-color: #04BF7B;
    

}